.blog {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 15em;
  border-bottom: 1px solid #DEDBDC;
  align-items: center;
  margin-top: 1em;


  .blog-logo {
    border-radius: 100%;
    flex-basis: 16%;
    border: 1px solid green;
    height: 140px;
    margin-bottom: 5px;
  }

  .content-blog {

    flex-basis: 82%;
    height: 90%;

    p:last-child {
      line-height: 2em;
    }

    h3 {
      margin: 0;
      font-style: normal;
      font-weight: 600;
      font-size: 1.8em;
      line-height: 2em;
    }

    p {
      margin: 0;
      padding: 0;
      font-style: normal;
      font-weight: 400;
      font-size: 1.1em;

      &:last-child {
        margin-top: 2em;
      }
    }


    .grey {
      color: #737067
    }
  }

  &:last-child {
    border-bottom: none;
  }
}