.wrap-button{
  display: flex;
  justify-content: center;
}
  button {
    font-weight: bold;
    font-size: 1.1em;
    width: 153px;
    height: 36px;
    border: 0.5px solid black;
    border-radius: 2px;
    margin: 2em 0 3em 0;
    background: none;
    &:hover {
      color: #737067;
      border: 1px solid rgba(222, 219, 220, 0.4);
    }
  }
